<div class="well">
	<h4> <b><i> I can't figure how to get started with edunova? </b> </i></h4>
<h5>
	No worries. We are always happy to help. There are some simple ways you can chat with us and let us help you out. <br/> <br/>
	 <a href="https://www.facebook.com/edunova.io/" target="_blank"> Chat with edunova on facebook </a>
<br/> <br/>
<a href="https://twitter.com/edunova_io" target="_blank"> Reach us on Twiiter </a>
	 <br/><br/>
	Whatsapp us on +91 9167355066

</h5>
</div>