              <div class="row panel no-gutter eq-height">

 <div class="col-sm-3 col-md-3 border-right row-it-equal" id="right_section">
<div id="right_section_inner_cover">

<div class="panel-default" id="section_learn">

Need Help? <br/> <a href="https://www.facebook.com/edunova.io/"> Talk to us on facebook and we will help you make your note! </a>
</div> 
</div>
</div>


 <div class="col-sm-9 col-md-9">
  <div class="panel-default" >
  <div class="panel-body" id="content">
    

     <div id="notes"><%= render("edit_note") %></div>
        



  </div>
</div>
</div>
</div>




