              <div class="row no-gutter eq-height">




 <div class="col-sm-10 col-md-10 col-md-offset-1">
  <div class="panel-default panel" >
  <div class="panel-body" id="content">
    

     <div id="notes"><%= render("/notes/partials/edit_note") %></div>
        



  </div>
</div>
</div>
</div>




