 <div id="conversations">
 <% @comments = @note.comments.order('created_at ASC') %>
<%= render :partial => "comments/comment", :collection => @comments, :as => :comment %>
</div>
	<center>
 </center>
