<div class="applet-wrap"> 
  <%= f.label :"Add Applet" %> <br/>

    <%= f.text_area :content , cols: "20", rows: "6" , :class => 'form-control' , :placeholder => 'Type in your SVG/Javascript code here.' %>

  <%= link_to_remove_association "Remove Applet", f , {wrapper_class: 'applet-wrap' ,  :class => 'btn btn-danger'} %>
   <br/> <br/> 
</div>

