
              <div class="row panel no-gutter eq-height">


<div class="panel-default">
<div class="panel-body">

				<h3>built with <i class="fa fa-heart fa-6" style="color:#E41B17 !important;"></i> by the awesome :-</h3>
								<hr>

                <div class="col-sm-3 col-sm-offset-1">
                    <div class="team-member">
                    	<%= image_tag("Vaibhav_Maheshwari.jpg" ,:height => 105 , :width => 105 , :class => 'img-circle pull-left') %>
                        <h4>Vaibhav Maheshwari </h4>
                      
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/vaibhavgeek" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.facebook.com/vaibhavgeek" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://www.vaibhavgeek.blogspot.com" target="_blank">blog</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>

                 <div class="col-sm-3 col-sm-offset-1">
                    <div class="team-member">
                        <%= image_tag("Aishwarya_Jain.jpg" ,:height => 105 , :width => 105 , :class => 'img-circle pull-left') %>
                        <h4>Aishwarya Jain</h4>
                        
                           
                        </ul>
                    </div>
                </div>







           

</div>
</div>
</div>