<center><a class="twitter-timeline" href="https://twitter.com/vaibhavgeek" data-widget-id="620177021281243136">Tweets by @vaibhavgeek</a>
<script>

 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



  


</script>
</center>
All the tweets will be read by me personally, you can drop in suggestions, videos, website bugs, crash errors(along with urls), resumes, anything at all.