
<center><h1> wouldn't it be great if your friends were on edunova?</h1></center>


<br/> <br/>

<center><h1> tell them about it.</h1></center>


<br/> <br/>





<center>
  <h2>tell your friends through 
<a href="https://www.facebook.com/edunova.io/" target="_blank">
  	<span class="btn btn-social btn-facebook btn-lg">
          <i class="fa fa-facebook"></i>
facebook        </span></a></h2></center>


<br/>
<br/>




<center>

  <h2>make us trending on 	<a href="https://twitter.com/edunova_io" target="_blank">
<span class="btn btn-social btn-twitter btn-lg">
          <i class="fa fa-twitter"></i>
twitter        </span></a></h2></center>

